Source: zero-lliurex-gambas3
Section: x11
Priority: optional
Maintainer: Equipo LliureX <lliurex@gva.es>
Build-Depends: debhelper (>= 13), zero-dev, llxsrchelper,inkscape (>= 0.47)
Standards-Version: 4.1.2

Package: zero-lliurex-gambas3
Architecture: all
Section: education
Depends: zero-center,epi-gtk
Description: gambas3 installer
  Gamas Almost Means Basic, IDE for Basic

